<section class="lede section--padding-both">
    <div class="container">
        <p>Shop Page</p>
    </div>
</section>

<div class="product-grid__item   grid__item one-half large--one-third" ng-repeat="items in displayProducts">
  <div class="product-grid__meta">
    <!--Repeat over your data and display it below -->
    <h3 class="product-grid__name"><a ui-sref="details({id: items.id})">{{items.title}}</a></h3>
    <a class="product-grid__product" ng-show="isCollapsed">
        <img class="product-grid__img"  src={{items.image}}  sizes="(min-width: 960px) 33vw, (min-width: 769px) 50vw, 100vw" alt="">
    </a>
    <button class="product-grid__product"  ng-click="isCollapsed = !isCollapsed">
        show image
    </button>
    <!--Product Description-->
    <h4 class="product-grid__sub">{{items.desc}}</h4>

    <!--Product Price-->
    <div class="product-grid__price">{{items.price}}</div>
  </div>
</div>
